/*-------------------------*/
/*         typography      */
/*-------------------------*/
@font-face {
    font-family: 'yekan-reg';
    src: url("../fonts/YekanBakhFaNum-Regular.woff2");
}



.Toastify__toast-body {
    font-family: yekan-reg;
}


.yekan-regular {
    font-family: yekan-reg !important;
}




/*-------------------------*/
/*         general         */
/*-------------------------*/
body {
    margin: 0;
}

.w100 {
    width: 100%;
}



.main-cantainer {
    width: 100%;
    min-height: 100vh;
}


.clrone {
    background-color: #252525 !important;
}
.clrtwo {
    background-color: rgba(9,9,9,0.6);
}
.clrtwotext {
    color: #1B95A2;
}
.clrthree {
    background-color: #737375;
}

.clrfour {
    background-color: #E1C886;
}
.clrfive {
    background-color: #AB9D7C;
}
.clrsixtext {
    color: #FF4941;
}

.clrseventext {
    color: #fff;
}





/*-------------------------*/
/*         animations      */
/*-------------------------*/
.underline {
    &::after {
        content: "";
        border-bottom: solid 0.1618rem #1B95A2;

        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        transform: scaleX(0);
        transform-origin: center;
        transition: transform 0.4s;
    }

    &:hover {
        &::after {
            transform-origin: center;
            transform: scaleX(1);
        }
    }

    @keyframes underline {
        from {
            transform: scaleX(0);
        }
        to {
            transform: scaleX(1);
        }
    }
}



/*-------------------------*/
/*   margins and padding   */
/*-------------------------*/

.margins {


    padding-left: 10rem !important;
}

.toppad {
    padding-top: 6rem;
}



/*-------------------------*/
/*  shadows   */
/*-------------------------*/
.shadowone {
    box-shadow: 0.3rem 0.3rem 0.6rem 0px rgba(0, 0, 0, 0.5) !important;

}







/*-------------------------*/
/*  login   */
/*-------------------------*/

.main-login {
    width: 400px;
    height: 500px;
    overflow: hidden;
    z-index: 10;

    box-shadow: 0px 0px 20px 1px rgba(14, 14, 14, 0.6);
    border-radius: 1.3rem;
}

.main-login #chk {
    display: none;
}



.main-login .signup {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    top: -30px;
    justify-content: center;
    align-items: center;
}

.main-login .signup h2 {
    color: #ffffff;
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
}

.main-login label {
    color: white;
    margin: 60px;
    margin-bottom: 1.3rem;
    display: flex;
    justify-content: center;
    font-weight: bold;
    cursor: pointer;
    font-size: 2.3em;
    transition: 0.5s ease-in-out;
}

.main-login input {
    width: 60%;
    height: 40px;
    background-color: #ffffff;
    display: flex;
    margin: 0px auto 20px auto;
    padding: 20px 15px;
    justify-content: center;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 1rem;
    font-family: yekan-reg;
}

.main-login button {
    width: 60%;
    height: 40px;
    margin: 10px auto;
    justify-content: center;
    display: block;
    background-color: #E1C886;
    margin-top: 20px;
    font-size: 1em;
    font-weight: bold;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: 0.2s ease-in;
    cursor: pointer;
    font-family: 'yekan-reg';
    color: white;
}

.main-login button:hover {
    background-color: #e3bc5e;
}

.main-login .login {
    height: 460px;
    background-color: #252525;
    text-align: center;

    border-radius: 60% / 10%;
    transform: translateY(-180px);
    transition: .6s ease-in-out;
}

.main-login .login label {
    color: #f9f9fa;
    transform: scale(.7);
    font-family: 'yekan-reg';
    font-weight: bold;
    font-size: 4em;
}

.login img {
    height: 5rem;
    margin-left: auto;
    margin-right: auto;
}

.main-login #chk:checked ~ .login {
    transform: translateY(-500px);
}

.main-login #chk:checked ~ .login label {
    transform: scale(1);
}

.main-login #chk:checked ~ .signup label {
    transform: scale(.6);
}




/*-------------------------*/
/*  spinner                */
/*-------------------------*/


.loader {
    content: "";

    width: 0.6rem !important;

    height: 0.6rem !important;
    border-radius: 50%;
    background: #36B786;
    position: relative;
}
.loader:before,
.loader:after {
    content: "";
    position: absolute;
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 50%;
    inset: 0;
    background: #36B786;
    transform: rotate(0deg) translate(1.3rem);
    animation: rotate 1.5s ease infinite;
}
.loader:after {
    animation-delay: 0.5s
}
@keyframes rotate {
    100% {transform: rotate(360deg) translate(1.3rem)
    }}

